#
# @author eliott bartley
# @update 2008.Aug.11
#  parsed by UI.GEVAPropertiesGUI.initialiseGraphConfigItem, and for some
#   reason, what I call a 'page' in this document, I call a 'category' in the
#   source code, why!?
#
# Graph output configuration
#  The format of this file is..
#
# #<comment>  Comment: Adds comments to this file, everything following the '#'
#              to the end of the line is ignored during processing
# -<Tab name> Page: Add a tabbed page to the graph. All graphable items must
#              appear following a 'page' entry, and all graphable items
#              specified after a 'page', up to the next 'page' or end of file
#              will appear in that tabbed page in the interface. The tab name
#              specified will appear as-is in the GUI tab
# ,,,,        Item: Everything that's not a 'comment' or a 'page' is an 'item'.
#              These are the graphable items that are rendered on the graph and
#              take the following format..
#
# name, visible, colour, title, measure, error bars
#
#  name       The name of the 'item' as it is output by GEVA. This name must
#              match exactly or else the GUI will not be able to link it with
#              GEVA's data values
#  visible    Can be either 'show' 'bold' or 'hide'. If a value other than
#              these is used, 'hide' is assumed. This states whether the
#              'item' is initially shown or hidden (by the "Visible" check-box
#              on the graph). Hidden items can be made visible by the user by
#              checking the "Visible" check-box. To make an 'item' not appear
#              in any form, don't add it to this configuration. 'bold' makes
#              the item visible, but also sets it as highlighted, so it will
#              appear in bold and in front of all other items on the graph
#  colour     Preferred colour for this 'item'. This should be in the format
#              RRGGBB hexidecimal, or be a named colour, e.g. FF0000, or red.
#              A complete list of possible colour names appear below. If not
#              specified, a random colour is assigned every run. Actually, the
#              RRGGBB option was a lie, I wrote it here, planning on doing
#              something about it, implementation wise, but I'm tired now, and
#              it's Friday, and it's 6pm, and who wants to write hexidecimal
#              when they have 138 named colours to choose from? And possibly,
#              no one will ever even know about or look at this file ever
#              again! Or even care what colour anything is.. Maybe I'll add the
#              RRGGBB option on Monday.. Yea, I added it on Monday, plus I
#              added a shorter RGB fromat
#  title      The name to use in the GUI for this 'item'. If a blank value is
#              used for this field, <name> is used instead
#  measure    The meaning of the y axis for this 'item', e.g. milliseconds.
#              Note: the x axis is always generations. Currently (2008y08M11d)
#              this field is not used
#  error bars The <name> of the 'item' that will be the error bars for this
#              'item'. Error bars are output +/- relative to the 'item' they
#              belong to, and cannot be highlighted or scaled (they scale with
#              the 'item' they belong to
#
# Note:       White-space is ignored around fields and can be used for layout
#              except for new-lines, which define the end of a single entry
#              i.e. new-lines cannot be used for formatting
#

-Fitness
 BestFit, bold, dark blue, Best
 AveFit, show, royal-blue, Average, , VarFit
 VarFit, show, powder-blue, Variance
-Codon
 AveUsedGenes, hide, lime-green, Average Used
 AveLength, hide, olive-drab, Average Length
-Invalids
 Invalids, hide, red
-Other
 Gen, hide, dim gray, Generations
 Time(ms), hide, dark gray, Time, (ms)

#-Where does this go?
# FitEvals, hide


# Supported named colours; colour's names must be quoted as-is below (spacing
#  and hyphens in the correct place)
#
# black, navy, dark blue, medium blue, blue, dark green, green, teal, dark cyan,
# deep sky-blue, dark turquoise, medium spring-green, lime, spring-green, aqua,
# cyan, midnight-blue, dodger-blue, light sea-green, forest-green, sea-green,
# dark slate-gray, lime-green, medium sea-green, turquoise, royal-blue,
# steel-blue, dark slate-blue, medium turquoise, indigo, dark olive-green,
# cadet-blue, cornflower-blue, medium aquamarine, dim gray, slate-blue,
# olive-drab, slate-gray, light slate-gray, medium slate-blue, lawn-green,
# chartreuse, aqua-marine, maroon, purple, olive, gray, sky-blue,
# light sky-blue, blue-violet, dark red, dark magenta, saddle-brown,
# dark sea-green, light green, medium purple, dark violet, pale-green,
# dark orchid, yellow-green, sienna, brown, dark gray, light blue, green-yellow,
# pale violet-red, light steel-blue, powder-blue, fire-brick, dark goldenrod,
# medium orchid, rosy-brown, dark khaki, silver, medium violet-red, indian-red,
# peru, chocolate, tan, light gray, thistle, orchid, goldenrod, crimson,
# gainsboro, plum, burlywood, light cyan, lavender, dark salmon, violet,
# pale goldenrod, light coral, khaki, alice-blue, honeydew, azure, wheat, beige,
# white-smoke, mint-cream, ghost-white, salmon, sandy-brown, antique-white,
# linen, light goldenrod-yellow, old lace, red, fuchsia, deep pink, orange-red,
# tomato, hot pink, coral, dark orange, light salmon, orange, light pink, pink,
# gold, peach-puff, navajo-white, moccasin, bisque, misty-rose, blanched-almond,
# papaya-whip, lavender-blush, seashell, corn-silk, lemon-chiffon, floral-white,
# snow, yellow, light yellow, ivory, white
